// -------- BOXES -------- //

.box {
	background-color: $white;
	@include mq($until: mb) {
		padding: 1em;
	}
	@include mq($from: mb) {
		padding: 2em;
	}
	&--frame {
		@extend .box;
		border: 1px solid $grey-medium;
		border-radius: 2px;
	}
}