// -------- BUTTONS -------- //

%btn {
	padding: 0.8em 1em;
	border: 1px solid;
	text-transform: uppercase;
	border-radius: 2px;
}

.btn {
	&--basic {

	}
	&--full {
		width: 100%;
		text-align: center;
	}
}


// -- Appearance -- //
.btn {
	&--solid-black {
		@extend %btn;
		background-color: $black;
		border-color: $black;
		color: $white;
	}
	&--solid-cta {
		@extend %btn;
		background-color: $color-cta;
		border-color: $color-cta;
		color: $white;
	}

	&--box {
		text-align: left;
		border: 1px solid $grey-medium;
		background-color: transparent;
		padding: 1em;
		transition: all 0.3s ease;
		&:hover {
			border-color: $black;
		}
		&:focus {
			background-color: $black;
			color: $white;
			.invert {
				color: $black;
				background-color: $white;
			}
		}
	}
}