// -------- INPUTS -------- //

.field {
	position: relative;
	&:not(.field--checkbox) {
		margin-bottom: 3em;
	}
	&:last-child {
		margin-bottom: 0;
	}
	&--input {
		position: relative;
		.field__label {
			position: absolute;
			bottom: 100%;
		}
	}
	&__label {
		font-size: 0.8em;
		font-weight: 400;
		margin-bottom: 0.2em;
	}
	&__input {
		background-color: transparent;

	}
	&__input, &__label {
		display: block;
		width: 100%;
	}
	&__input, &__select {
		border: 1px solid $grey-medium;
		padding: 0.8em 1em;
		box-sizing: border-box;
		border-radius: 2px;
		&:hover {
			border-color: $color-text;
		}
		&:focus {
			border-color: $color-cta;
			outline: none;
		}
		&:invalid {
			border-color: $red;
		}
		&:invalid:focus {
			border-color: $color-text;
		}
	}
}

.field__input {
	&[id="postcode"] {
		text-transform: uppercase;
	}
}


// ---- Checkboxes and radio buttons ---- //

@mixin reset-input() {
	visibility: hidden;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}
@mixin reset-label() {
	cursor: pointer;
	position: relative;
	padding-left: 1.8em;
	&:before, &:after {
		position: absolute;
		display: block;
		line-height: 16px;
		text-align: center;
	}
	&:before {
		content: '';
		border: 1px solid;
		left: 0;
		top: -1px;
		width: 16px;
		height: 16px;
	}
	&:after {
		border: 1px solid transparent;
		opacity: 0;
	}
}

.field--checkbox, .field--checkbox-privacy {
	position: relative;
	input[type="checkbox"] {
		@include reset-input();
	}
	label {
		@include reset-label();
		&:before {
			border-radius: 2px;
		}
		&:after {
			content: "\f122";
			font-family: "Ionicons";
			font-size: 0.8em;
			background-color: $black;
			color: lighten($color-cta,30%);
			border-radius: 2px;
			width: 16px;
			height: 16px;
			left: 0;
			top: -1px;
		}
	}
	input[type="checkbox"]:checked + label:after {
		opacity: 1;
	}
}

.field--radio-button {
	input[type="radio"] {
		@include reset-input();
	}
	label {
		@include reset-label();
		&:before {
			border-radius: 50%;
		}
		&:after {
			content: '';
			width: 10px;
			height: 10px;
			background-color: $color-cta;
			border-radius: 50%;
			top: 2px;
			left: 3px;
		}
	}
	input[type="radio"]:checked + label:after {
		opacity: 1;
	}
}