// -------- TEXT -------- //


h1 {
	margin: 0 0 1em;
}
h2 {
	font-size: 1.4rem;
	font-weight: 600;
}
h3 {
	font-size: 1rem;
	font-weight: 300;
}

p {
	line-height: 1.4;
}

p, label {
	a {
		color: $color-text;
		&:hover, &:focus {
			color: $color-cta;
		}
		&:visited {
			color: darken($color-cta,10%);
		}
	}
}

address {
	font-style: normal;
}

.disclaimer {
	color: $color-text-light;
	font-size: 0.9em;
	margin-bottom: 0;
}