// -------- CSS GRID -------- //

@mixin grid-init() {
	display: grid;
	grid-gap: 1em;
}

.finder {
	max-width: 800px;
	margin: 0 auto;
}

.form--location {
	&.grid-parent {
		@include grid-init();
		grid-template-columns: minmax(250px, 600px) auto auto;
	}
	.grid-child {
		//border: 1px solid red;
		//justify-self: stretch;
	}
}

.results {
	&.grid-parent {
		@include grid-init();
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 4fr;
	}
	.grid-child {
		&.height-fr {
			grid-column: 1 / 2;
		}
		&.height-full {
			grid-column: 2 / 3;
			grid-row: 1 / 5;
		}
	}
}

.selected {
	.grid-parent {
		@include grid-init();
		grid-gap: 1.5em 3em;
		grid-template-columns: minmax(1fr, 100px) auto;
		grid-template-rows: auto auto;
	}
	.child--header {
		grid-column: 1 / 3;
		grid-row: 1 / 2;
	}
	.child--main {
		grid-column: 2 / 3;
		grid-row: 2 / 2;
	}
	.child--aside {
		grid-column: 1 / 2;
		grid-row: 2 / 2;
	}
}

.checkboxes, .radio-buttons {
	max-width: 400px;
	&.grid-parent {
		@include grid-init();
		grid-template-columns: repeat(2, 1fr);
	}
	.grid-child {

	}
}

// TODO Refactor below - move to more appropriate files
.results__map, .results__item {
	box-sizing: border-box;
}

.results__map, .map--mini {
	height: 100%;
	background: red;
}