// -------- COLORS -------- //

$white: #fafafa;
$black: #000000;

$grey-light: #e1e2ea;
$grey-medium: #a8aabb;
$grey-dark: #2f313a;

$red: #cd192d;



$color-text: $grey-dark;
$color-text-light: $grey-medium;
$color-cta: $red;



